<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <form method="POST" th:action="/login" class="form-signin">
        <h2 class="form-group">Log in</h2>

        <div class="form-group ${error != null ? 'has-error' : ''}">
            <span>${message}</span>
            <input name="username" type="text" autofocus="true" placeholder="Username">
            <input name="password" type="password" placeholder="Password">
            <span>${error}</span>
            <input type="hidden" name="${_csrf.parameterName}" value="${csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration">Create an account</a></h4>
        </div>

    </form>
</div>
<script type="text/javascript" src="webjars/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>